# Supabase Configuration for Valomize Randomizer
# Replace these with your Supabase Project Settings > API
VITE_SUPABASE_URL=https://vuzigkfxbgttccszxrfi.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_qPVyekNNEmV4neeyHfHKlQ_IM-9XBiO
